<div class="container">

	<h1> Syllabus Details </h1>
	<p>
	  <strong>Code:</strong>
	  <%= @syllabus.code %>
	</p>

	<p>
	  <strong>Semester:</strong>
	  <%= @syllabus.semester %>
	</p>

	<p>
	  <strong>Name:</strong>
	  <%= @syllabus.name %>
	</p>
	 
	<p>
	  <strong>Name:</strong>
	  <%= @syllabus.name %>
	</p>

	<p>
		<td><%= link_to "Back", course_syllabuses_path(@course), class: "btn btn-primary"  %></td> 
	</p>

</div>