<div class="container">
	<h1>Courses we offer</h1>
	<table class="table table-hover">
	    <thead>
	        <tr>
	            <th>Program</th>
	            <th>Name</th>
	            <th>Duration</th>  
	            <th></th>         
	        </tr>
	    </thead>
	    <tbody>
	    	<% @courses.each do |course| %>
		    	<tr>
		            <td><%= course.code %></td>
		            <td><%= course.name %></td>
		            <td><%= course.duration %> semesters</td>
		            <% if current_user %>
			            <% if current_user.type == "Student" %>
			            	<td><%= link_to "Enrol", course_syllabuses_path(course), class: "btn btn-primary"  %></td>   
			            <% else %> 
			            	<td><%= link_to "View", course_syllabuses_path(course), class: "btn btn-primary"  %></td> 
			            <% end %> 
			        <% else %>
			            <td></td>
			         <% end %>     
		        </tr>
	    	<% end %>	       
	    </tbody>
	</table>
	<em>Students, please <a href="<%= new_user_registration_path %>">signup </a>to enroll.</em>
</div>