
<div class="container">
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@chapter.errors.count, "error") %> prohibited
        this chapter from being saved:
      </h2>
      <ul>
        <% @chapter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">  
    <%= form_for(@chapter, url: {action: "create"},  :html => { :role => 'form'}) do |f| %>
      <h3>Create Chapter</h3>
      <div class="form-group">
        <%= f.label :number %>
        <%= f.text_field :number, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
         
      <%= f.submit 'Create', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
